{%extends "layout.html"%}
{%block body%}
<div class="container m-4">
    <div class="navbar">
        <a href="/dashboard" class="fs-3">Home</a>
        |
        <a href="/create/event" class="fs-5">New</a>
        |
        <div class="search">
            <input type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
        <a href="/logout" class="fs-5">Logout</a>
    </div>
    <div class="dashboard_body mt-4 ">
        <h2 class="text-center">Welcome {{user.first_name}}</h2>
        <div class="table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Location Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for user_data in user_events%}
                    <tr>
                        <td><a href="/event/{{user_data.id}}">{{user_data.name}}</a></td>
                        <td>{{user_data.location_name}}</td>
                        <td>{{ user_data.date.strftime('%Y-%m-%d') }}</td>
                        <td>
                            <a href="/edit/event/{{user.id}}" class="btn btn-primary">Edit</a>
                            <a href="/delete/event/{{user.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}