{%extends 'layout.html'%}
{%block body%}
<div class="container">
    <div class="text-end">
        <a href="/">HOME</a>
    </div>
    <div class="main_page d-flex justify-content-around">
        <div class="register-form " id="register" >
            <h1 class="text-center m-4">REGISTER</h1>
            <form action="/user/register" method="post">
                <div class="form-group m-2 p-2">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name">
                </div>
                <div class="form-group m-2 p-2">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last_name">
                </div>
                <div class="form-group m-2 p-2">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email" id="email">
                </div>
                <div class="form-group m-2 p-2">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-grou m-2 p-2">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password"class="form-control" name="confirm_password" id="confirm_password">
                </div>
                <div class="form-group m-2 p-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
        <div class="row-right bg-black text-light" id="login">
            <h2 class="text-center m-3">LOGIN PAGE</h2>
            <form action="/user/login" method="post">
                <div class="form-group p-3">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email" id="email">
                </div>
                <div class="form-group p-3">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group p-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}